header {
    background-color: #550c18 ;
}

footer {
    background-color: #550c18;
}

body{
    background-color: #545e56
}

h1 {
    font-family: "title";
    color: #eae0d5;
    text-align: center;
}

h3{
    position: relative;
    left: 10px;
    font-family: "title";
    color: #550c18;
}

h2{
    font-family: "title";
    color: #550c18;
}

p{
    font-family: "general";
    color: #58658c;
}

dl{
    font-family: "general";
    color:#58658c 
}

a:link {
  color: #eae0d5;
  background-color: transparent;
  text-decoration: none;
  font-family: "general";
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
  font-family: "general";
}

a:visited {
    color: #58658c;
    background-color: transparent;
    text-decoration: underline;
    font-family: "general";
}

@font-face {
  font-family: "title" ; 
  src: url(../fonts/Audiowide-Regular.ttf); 
}

@font-face {
    font-family: "general";
    src: url(../fonts/VT323-Regular.ttf);
}

.parent-container-one {
    display: flex;
    gap: 10px;
 }

 .flex-container-two {
  background-color: #c6ac8f;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  width: fit-content;
  height:fit-content;
 }

 .flex-container-three {
  background-color: #c6ac8f;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  width: fit-content;
  height: fit-content;
 }

 .navbar {
  overflow: hidden;
  background-color: #550c18;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #eae0d5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "general";
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #eae0d5;
  padding: 14px 16px;
  background-color: #550c18;
  font-family: "general";
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: pink;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #550c18;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(23, 18, 18, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #eae0d5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "general";
}

.dropdown-content a:hover {
  background-color: pink;
}

.dropdown:hover .dropdown-content {
  display: block;
}